html {
    height: 100%;
    margin: 0;
}

body {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.dropdown {
    position: relative;
    display: inline-block
}

.dropdown-content {
    display: none;
    
}

.dropdown:hover .dropdown-menu {
    margin-top: -0.3rem;
    display: block;
}


#mainscreen {
    width: 100%;
    height: 60vh;
    display: flex;
}

#namebox {
    display: flex;
    align-items: flex-end;
    min-height: 50%;
    
    padding-left: 10%;
    
}

#name {
    font-weight: bold;
}

#shortintro {
    font-size: 140%;
    padding-left: 10%;
    padding-right: 10%;
}

#intro {
    font-size: 130%; 
}

#aboutName {
    flex: 70%;
    flex-direction: row;
}

#tabicons {
    display: flex;
    flex: 50%;
    margin-right: 5%;
    align-items: flex-end;
}

#tabicons div {
    margin-left: auto;
    float: right;
    display: flex;

}

.linkicon img {
    padding: 0.2rem;
    align-self: flex-end;
    display: flex;
    max-height: 3rem;
    width: auto;
    
}

.content {
    max-width: 100%;
    display: flex; margin-top: 5%; align-self: center; padding: 1rem;
    flex-direction: column;
    
}

.background {
    position: relative;
    z-index: 1;
    background: url('../images/mainbackground.jpeg');
    background-size: cover;
}

.main-background {
    width: 100%;
    height: 100%;
}

.main-background::before {
    z-index: -1;
    content: "";
    background: url('../images/mainbackground.jpeg');
    background-size: cover;
    
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

