{% extends 'base.html' %}

{% block main %}
<body>
    <div style="display: flex;">
        <div id="aboutName">
            <h1>Vincent Chung </h1>
            <h5>Current 1B Software Engineering Student in University of Waterloo</h5>
        </div>
        
        <div style="width: 50%; height: 100%">
            <img src="../images/myself.jpeg" style="float: right; padding-right: 10%; width: 40%; height: auto">
        </div>
    </div>



<div>
    <p>Links: </p>
    <div>
        <ul>
           <li>
                <a href="https://github.com/pumpkin285">Github</a>
           </li> 
           <li>
                <a href="https://www.linkedin.com/in/yiu-him-chung/">LinkedIn</a>
           </li>
           <li>
                <a href="mailto: cyiuhim@gmail.com">Email</a>
           </li>
        </ul>
    </div>
</div>
<div>
    <p>Skills and experience: </p>
    <ul>
        <li>
            C++: four years in 
            <a href="robotics">VEX robotics</a>
            , main programmer on the team, helping with designing of robot movement algorithms, such as PID and position tracking. 
        </li>
        <li>
            Python: 6 months in projects involving AI, such as in 
            <a href="showerscribe">ShowerScribe</a>
            , helped with backend database development and use of AI models.
        </li>
        <li>
            Version Control Systems: Use of Git to collaborate with others during hackathons and projects 
        </li>
        <li>
            Time and Project Management: proficiency in using tools such as Trello and Google Calendar to keep track of tasks and deadlines in teamwork environment 
        </li>
        <li>
            Problem Solving Skills: Champion in national math competitions, proficiency in solving problems using multiple approaches and comparing design solutions
        </li>
    </ul>
</div>
<div>

</div>

<script src="https://unpkg.com/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>    

{% endblock %}


