{% extends 'base.html' %}

{% block heading %}
<h5>Current 1B Software Engineering Student in University of Waterloo</h5>
{% endblock %}
{% block content %}
<div>
    <p>Links: </p>
    <div>
        <ul>
           <li>
                <a href="https://github.com/pumpkin285">Github</a>
           </li> 
           <li>
                <a href="https://www.linkedin.com/in/yiu-him-chung/">LinkedIn</a>
           </li>
        </ul>
    </div>
</div>
<div>
    <p>Skills: </p>
    <div></div>
</div>

{% endblock %}