<!DOCTYPE html>
<html lang="en">
<head>
    <title >Vincent Chung</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <div style="display: flex; background-color: #ADD8E6;">
        <div style="flex: 50%;">
            <nav class="navbar navbar-expand-lg navbar-light"> <!--configure colour of navbar here navbar-light-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#tabsNav" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="tabsNav" style="width: 50%;">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about">About Me </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/" id="projectDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">Projects</a>
                            <ul class="dropdown-menu border-0 shadow bsb-zoomIn" aria-labelledby="projectDropdown">
                                <li><a class="dropdown-item" href="robotics">Robotics</a></li>
                                <li><a class="dropdown-item" href="showerscribe">ShowerScribe</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div id="tabicons">
            <div>
                <a href="https://github.com/pumpkin285" class="linkicon">
                    <img src="../images/github-icon.png">
                </a>
                <a href="https://www.linkedin.com/in/yiu-him-chung/" class="linkicon">
                    <img src="../images/linkedin-icon.png">
                </a>
                <a href="mailto: cyiuhim@gmail.com" class="linkicon">
                    <img src="../images/mail-icon.png">
                </a>
            </div>
            
        </div>
    </div>
    
</head>

{% block main %}

{% endblock %}

</html>