{% extends 'base.html' %}

{% block main %}
<body class="bg-primary">
    <div id="mainscreen">
        <div style="width: 70%; float: left;">
            <div id="namebox">
                <h1 id="name" style="font-size: 250%;">Hello, I am Vincent Chung!</h1>
                
            </div>
            <div>
                <p id="shortintro">A software engineering student, currently seeking for summer 2024 internships. </p>
            </div>
        </div>
        <div style="width: 30%; float: right;">
            <img src="../images/myself.jpeg" style="float: left; padding-top: 10%; width: 70%; height: auto">
        </div>
        
    </div>
</body>
{% endblock %}